<p>新規登録</p>
<%= form_with model: @present, local: true do |f| %>
  <div>
    <%= f.label :present_name %>
    <%= f.text_field :present_name %>
  </div>
  <div>
    <%= f.label :present_score %>
    <%= f.select :present_score, Present.present_scores_i18n.keys %>
  </div>
  <div>
    <%= f.label :present_review %><br>
    <%= f.text_area :present_review %>
  </div>
  <%= f.submit "送信" %>
<% end %>